.App {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(35, 60, 104);
    color: white;
}

.divArgent {
    width: 70%;
    height: 80px;
    text-shadow: 10px 10px 25px rgb(253, 253, 253),
    -10px 10px 25px rgb(179, 169, 169),
    -10px -10px 25px rgb(204, 190, 190),
    10px -10px 25px rgb(233, 221, 221);
}

.titreArgent {
    font-size: 30px;
    font-weight: bold;
}

.divArticles {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.divPaniers {
    width: 70%;
    height: 35%;
    display: flex;
    flex-direction: column;
}

.panierTitre {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    /* margin: 0; */
    padding-bottom: 10px;
}

.panierText {
    font-size: 20px;
    font-weight: bold;
}

