.monPanier {
    width: 45%;
    height: 30%;
    /* border: 1px solid red; */
    margin-bottom: 50px;
    color: white;
}

.panier {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.panier img {
    height: 100%;
    width: 15%;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 30px 90px;
}

.panierP {
    text-shadow: 3px 3px 20px #c9c0c4,

}

.btnRendre {
    width: 100px;
    height: 40px;
    color: white;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.714) 2.4px 2.4px 3.2px;
}

